# see http://editorconfig.org/ for docs on this file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h,cpp,hpp,cs}]
indent_style = space
indent_size = 4

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{json,asmdef}]
indent_style = space
indent_size = 2

